<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <main class="main">
        <img class="logo" src="/static/img/logo.png" alt="Logo of Webpage">
        <h1 class="header1"> Please Login!</h1>
        <form class="login-form" method="post">
            <div class="text-input">
                <input class="username" name="user" type="text" placeholder="Username">
                <input class="password" name="password" type="password" placeholder="Password">
            </div>
            <input class="login-button" type="submit" value="Login!">
        </form>
    </main>
</body>
</html>
