{% extends "html/base.html" %}
{% block title %}Recent Entries{% endblock %}
{% block main %}
    <main class="main">
        <section>
            <h1>Recent Posts</h1>
            <a class="logout" href="{{ url_for("logout") }}">Logout!</a>
            {% for entry in entries %}
                <article class="entry">
                    <div class="entry__div">
                        <h2 class="entry__title">{{ entry[0] | truncate(30, true) }}</h2>
                        <time class="entry__date" datetime="{{ entry[1] }}">• {{ entry[2] }}</time>
                    </div>
                    <p class="entry__content">
                        {{ entry[0] }}
                    </p>
                </article>
            {% endfor %}
        </section>
        <section class="page_list">
            {% if links > 1 %}
            <ul class="pages">
                {% for link_item in range(1, links + 1) %}
                    <li><a class="pages__item-{{ link_item }}" href="{{ url_for("recent", page=link_item) }}">{{ link_item }}</a></li>
                    {% if link_item != links %}
                     <span>&ensp;•&ensp;</span>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </main>

{% endblock %}