<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Microblog</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <img class="navbar__logo" src="/static/img/logo.png" alt="Logo of the website">
            <a href="{{ url_for("user", name=name) }}">Microblog</a>
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="{{ url_for("recent", name=name) }}" class="navbar__link">Recent</a></li>
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Calendar</a></li>
        </ul>
    </header>
    <main class="main">
        <section>
            <h1>Recent Posts</h1>
            {% for entry in entries %}
                <article class="entry">
                    <div class="entry__div">
                        <h2 class="entry__title">{{ entry[0] | truncate(30, true) }}</h2>
                        <time class="entry__date" datetime="{{ entry[1] }}">• {{ entry[2] }}</time>
                        <input type="button" class="entry__delete" value="DELETE?" {{ delete }}>
                    </div>
                    <p class="entry__content">
                        {{ entry[0] }}
                    </p>
                </article>
            {% endfor %}
        </section>
        <section class="page_list">
            {% if links > 1 %}
            <ul class="pages">
                {% for link_item in range(1, links + 1) %}
                    <li><a class="pages__item-{{ link_item }}" href="{{ url_for("recent", name="krytos", page=link_item) }}">{{ link_item }}</a></li>
                    {% if link_item != links %}
                     <span>&ensp;•&ensp;</span>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a class="footer__item" href="#">Made by Kevin Meinon</a>
                <a class="footer__item" href="#">Check out my other projects</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a class="footer__item" href="#">Recent</a>
                    <a class="footer__item" href="#">Calendar</a>
                </div>
                <div class="footer__column">
                    <a class="footer__item" href="#">About</a>
                    <a class="footer__item" href="#">How this was made</a>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>